@import url('https://fonts.googleapis.com/css2? family = Roboto & display = swap');


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{

	font-family:'Roboto', sans-serif;
	background-color: #e5e5f7;

    background-color: #e5e5f7;
    opacity: 10;
    background-image:  linear-gradient(135deg, #2aded6 25%, transparent 25%), linear-gradient(225deg, #2aded6 25%, transparent 25%), linear-gradient(45deg, #2aded6 25%, transparent 25%), linear-gradient(315deg, #2aded6 25%, #e5e5f7 25%);
    background-position:  10px 0, 10px 0, 0 0, 0 0;
    background-size: 20px 20px;
    background-repeat: repeat;
}

.caja{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 400px;
	background: #fff;
	padding: 40px;
	box-sizing: border-box;
	border: 1px solid rgba(0,0,0,.1);
	box-shadow: 0 5px 10px rgba(0,0,0,.2)

}

.caja h2{
	
	margin: 0 0 40px;
	padding: 0;
	color: #0931e2;
	text-transform: uppercase;
	font-family:'Roboto', sans-serif;
}

.caja input{
	padding: 10px 0;
	margin-bottom: 30px;

}

.caja textarea{

	height: 80px;
	padding: 10px 0;
	margin-bottom: 40px;
}

.caja input, 
.caja textarea{

	width: 100%;
	box-sizing: border-box;
	box-shadow: none;
	outline: none;
	border: none;
	border-bottom:  2px solid #999;

}

.caja textarea{

	margin-bottom:  20px;
}

.caja [type="submit"]{

	border-bottom: none;
	cursor: pointer;
	background: #076aeb;
	color: #fff;
	margin-bottom: 0; 
	text-transform: uppercase;
}


.caja form div{
	position: relative;
}

.caja form div label{
	position: absolute;
	top: 10px;
	left: 0;
	color: #999;
	transition: .5s;
	pointer-events: none;
}

.caja input:focus ~ label,
.caja textarea:focus ~ label,
{

	top: -12px;
	left: 0;
	color: #f7497d;
	font-size: 12px;
	font-weight: bold;
}

.caja input:focus,
.caja textarea:focus,
.caja input:valid,
.caja textarea: valid
{

	border-bottom: 2px solid #f7497d;
}