body {
    background-image: url('../imagenes/fondo4.png');
    background-size: cover;
    background-position: scroll;
 
.marca-especial {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 90px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.6); 
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
}
