.cuadrado6 {
	width: 90vw;
	height: 90vh;
	background: #00ffdd;
	position: flex;
	top: 10;
	left: 0;
}

.cuadrado {
	width: 200px;
	height: 150px;
	background: #fc5102;
	position: flex;
	top: 0;
	left: 0;
}

.cuadrado2 {
	width: 200px;
	height: 150px;
	background: #000000;
	position: relative;
	top: 40%;
	left: 1530px;
}

.cuadrado3 {
	width: 200px;
	height: 150px;
	background: #000000;
	position: absolute;
	bottom: 0;
	left: 0;
}

.cuadrado4 {
	width: 200px;
	height: 150px;
	background: #ff5e00;
	position: absolute;
	bottom: 0;
	right: 0;
}

.cuadrado5 {
	width: 200px;
	height: 150px;
	background: #000000;
	position: absolute;
	top: calc(50% - 75px); 
	left: calc(50% - 100px); 
}